{# src/CSP/ComicBundle/Resources/views/Advert/index.html.twig #}

{% extends "CSPComicBundle::layout.html.twig" %}

{% block title %}
  News - {{ parent() }}
{% endblock %}

{% block comic_body %}

  <h2>Flux</h2>
  <a href="{{ path('csp_comic_upload') }}">Upload</a>


{% endblock %}