{# src/CSP/ComicBundle/Resources/views/Advert/index.html.twig #}

{% extends "CSPComicBundle::layout.html.twig" %}

{% block title %}
  News - {{ parent() }}
{% endblock %}

{% block comic_body %}

<div id="flux">
  <h2>Flux</h2>
  {{ render(controller("CSPComicBundle:Index:flux")) }}
  <a href="{{ path('csp_comic_upload') }}">Upload</a>
</div>


{% endblock %}