<!DOCTYPE html>
<html>
    <head>
        <title>COMIC SHARING PLATFORM!</title>
        {% stylesheets '@CSPComicBundle/Resources/public/css/main.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}

    </head>
    <body>
        <h1>CSP!</h1>
        
        <p>
            Ce site est encore en construction.
        </p>
    </body>
</html>