<!DOCTYPE html>
<html>
    <head>
        <title>COMIC SHARING PLATFORM!</title>
    </head>
    <body>
        <h1>CSP!</h1>
        
        <p>
            Ce site est encore en construction.
        </p>
    </body>
</html>